<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.UserDao">


    <!--添加user-->
    <insert id="addUser" parameterType="user">
        INSERT INTO TB_USER(UNAME,UPWD)VALUES(#{uname},#{upwd});
    </insert>

    <!--获得所有的user-->
    <select id="getAllUser" resultType="User">
        SELECT UID,UNAME,UPWD FROM TB_USER;
    </select>

</mapper>